<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <title>{% block title %}ArrayOport{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.1.2/flatly/bootstrap.css">
  <link rel="stylesheet" href="{{ asset('build/css/admin/admin.css') }}">
  <link rel="stylesheet" href="{{ asset('build/css/barnav/barnav.css') }}">
  <link rel="stylesheet" href="{{ asset('build/css/menu/menu.css') }}">

  {% block stylesheets %}  
  <style>
  /*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */


/*
 * Typography
 */


h1 {
  margin-bottom: 20px;
  padding-bottom: 9px;
  border-bottom: 1px solid #eee;
}

/*
 * Sidebar
 */


.sidebar {
  position: fixed;
  top: 20px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
  background-color: white;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-item {
  width: 100%;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  border-radius: 0;
}

.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.navbar {
  position: fixed;
  z-index: 1;
}

  </style>
  {% endblock %}

</head>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary col-sm-12">
        <a class="navbar-brand" href="/">ArrayOport</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="/">Accueil</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{ path('carte') }}">Cartes</a>
              </li>
        <a href="{{ path('admin') }}"><button type="button" class="btn btn-outline-secondary">Admin</button></a>
        </div>
        <button type="button" class="btn btn-success">Inscription</button>
        <a href="{{ path('login') }}"><button type="button" class="btn btn-info">Connexion</button></a>
        <a href="{{ path('logout') }}"><button type="button" class="btn btn-danger" style="margin-left:10px">Deconnexion</button></a>
    </nav>

    {% block body %}  
    {% endblock %} 

  {% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
  <script href="{{ asset('build/js/app/admin.js') }}"></script>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
  {% endblock %}


</body>

</html>