{% extends 'base.html.twig' %}

{% form_theme formMenu 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="container" style="width:500px">
        {% if editMenu %}
            <h1>Modification du Menu</h1>
        {% else %}
            <h1>Création d'un Menu</h1>
        {% endif %}

        {{ form_start(formMenu)}}

        {{ form_row(formMenu.nom,{'attr' : {'placeholder' : 'Nom du menu'}}) }}
        {{ form_row(formMenu.image,{'attr' : {'placeholder' : 'Image du menu'}}) }}
        {{ form_row(formMenu.description,{'attr' : {'placeholder' : 'Description'}}) }}
        {# {{ form_row(formMenu.alergene,{'attr' : {'placeholder' : 'Alergene'}}) }} #}
        {{ form_row(formMenu.statut) }}
        {# {{ form_row(formMenu.carte_id,{'attr' : {'placeholder' : 'Quelle est l\'id de la carte ?'}}) }} #}

        {% if editMenu  %}
            <button type="submit" class="btn btn-success">Modifier</button>
        {% else %}
            <button type="submit" class="btn btn-primary">Créer</button>
        {% endif %}
        
        {{ form_end(formMenu)}}
    </div>

{% endblock %}