{% extends 'base.html.twig' %}

{% block title %}ArrayOport{{ controller_name }}{% endblock %}

{% block body %}
<style>

</style>

    <section class="carte">
        {% for carte in cartes %}
            <article>
                <h2>{{ carte.nom }}</h2>
                <div class="metadate">{{ carte.createdAt | date('d/m/y') }}</div>
                <div class="content">
                    <img src="{{ carte.image }}" alt="">
                    <p style="word-wrap: break-word;">{{ carte.description }}</p>
                    <a href="{{ path('menu', {'id': carte.id })}}" class="btn btn-primary">Lire la suite</a>
                </div>
            </article>
        {% endfor %}
    </section>

{% endblock %}